.formSectionCover{
    width: 100%;
    height: 665px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.formSectionCover::before{
    content: "";
    background: url("/assets/Untitled.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-width: 1280px;
    max-width: 1366px;
    position: absolute;
    z-index: -1;
}

.formSectionWrapper {
    width: 100%;
    max-width: 1366px;
    display: flex;
    justify-content: center;
}

.formSectionContainer{
    width: 73.5%;
    margin: 80px 0 0 0;
}

.formSectionLoginForm{
    width: 464px;
    background-color: #ffffff;
    border-radius: 10px;
    border-top: 4px solid #1ABEC8;
    padding: 30px 35px 12px 35px;
}

.formSectionRegisterForm{
    width: 464px;
    background-color: #ffffff;
    border-radius: 10px;
    border-top: 4px solid #1ABEC8;
    padding: 30px 35px 25px 35px;
}

.formSectionLoginForm h1{
    font-size: 23px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #212529;
    font-family: customFontMedium;
}

.formSectionRegisterForm h1{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #212529;
    font-family: customFontMedium;
}

.formSectionContainerSpan1 {
    color: #1ABEC8;
    font-size: 25px;
    font-weight: 800;
}

.formSectionFormTitlePara{
    font-size: 12px;
    margin-bottom: 30px;
    font-family: customFontMedium;
}

.formSectionFormInputContainerEmail{
    width: 100%;
    height: 61px;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
    padding: 0 15px;
}

.formSectionFormInputContainerEmail input{
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 700;
    margin-top: 7px;
    width: 100%;
    color: #212529;
    font-family: customFontRegular;
}

.formSectionFormInputContainerEmail p{
    color: #A6A8A9;
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
    font-family: customFontRegular;
}

.formSectionFormInputContainerPassword{
    width: 100%;
    height: 61px;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 17px 0 0 0;
}

.formSectionFormInputContainerPassword div{
    width: 100%;
    height: 100%;
}

.formSectionFormInputContainerPassword input{
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 700;
    margin-top: 7px;
    width: 100%;
    color: #212529;
    font-family: customFontRegular;
}

.formSectionFormInputContainerPassword p{
    color: #A6A8A9;
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
    font-family: customFontMedium;
}

.formSectionFormInputContainerPassword img{
    cursor: pointer;
}

.formSectionContainerSpan2 {
    font-size: 12px;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
    margin: 12px 0;
    font-family: customFontRegular;
    letter-spacing: 0.2px;
}

.formSectionRegisterSpan {
    font-size: 12px;
    display: inline-block;
    font-family: customFontMedium;
    cursor: pointer;
    margin: 11px 0 20px 0;
    color: #7A7C7F;
}

.formSectionNewletterContainer {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
}

.formSectionNewletterContainer.active .formSectionNewletterCheckboxUnactive{
    display:  none;
}

.formSectionNewletterContainer.active .formSectionNewletterCheckbox {
    display: flex;
}

.formSectionNewletterContainer.active .formSectionNewletterCheckmark1 {
    display: block;
}

.formSectionNewletterContainer.active .formSectionNewletterCheckmark2 {
    display: block;
}

.formSectionNewletterCheckboxUnactive {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #ebebeb;
}

.formSectionNewletterCheckbox {
    display: none;
    height: 16px;
    width: 16px;
    background-color: #1ABEC8;
    border-radius: 3px;
    position: relative;
}

.formSectionNewletterCheckmark1 {
    display: none;
    transform: rotate(45deg);
    height: 10px;
    width: 4.3px;
    position: absolute;
    top: 2px;
    left: 6px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.formSectionNewletterCheckmark2 {
    display: none;
    transform: rotate(45deg);
    height: 10px;
    width: 4.3px;
    position: absolute;
    top: 2.4px;
    left: 6.4px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.formSectionNewletterContainer p {
    font-size: 16px;
    font-family: customFontMedium;
    cursor: default;
    margin-left: 5px;
}

.formSectionFormButtonsContainer {
    display: flex;
    flex-direction: column;
}

.formSectionFormButtonLogin {
    height: 44px;
    width: 100%;
    background-color: #1ABEC8;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 11px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: customFontMedium;
    letter-spacing: 0.2px;
}

.formSectionFormButtonGoogle {
    height: 44px;
    width: 100%;
    background-color: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0000008A;
    box-shadow: 0px 2px 3px 0px #0000002B;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: customFontExtraBold;
}

.formSectionFormButtonGoogle img{
    margin-right: 12px;
}

.formSectionFormRegister {
    font-size: 12px;
    font-family: customFontBold;
    letter-spacing: 0.2px;
}

.formSectionFormSpan3 {
    color: #1ABEC8;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .formSectionContainer {
        width: 90%;
    }

    .formSectionLoginForm {
        width: 418px;
    }

    .formSectionRegisterForm {
        width: 418px;
    }
}

@media screen and (max-width: 768px) {
    .formSectionLoginForm {
        width: 88%;
    }

    .formSectionRegisterForm {
        width: 88%;
    }

    .formSectionContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 25px 0 0 0;
    }
}