.footerWrapper {
    width: 100%;
    background-color: #212529;
    display: flex;
    justify-content: center;
}

.footerContainer {
    max-width: 1920px;
    margin: 104px 0 80px 0;
    display: flex;
    justify-content: space-between;
}

.footerRightContainer {
    display: flex;
}

.footerLogo {
    margin-right: 240px;
}

.footerLogo img{
    margin-bottom: 33px;
}

.footerLogo p {
    color: #ffffff;
    font-size: 16px;
    font-family: customFontRegular;
    letter-spacing: 0.2px;
}

.footerLinksContainer {
    display: flex;
}

.footerLinks {
    margin-right: 70px;
}

.footerLinks h1{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 44px;
    font-weight: 400;
    font-family: customFontRegular;
    letter-spacing: 0.2px;
}

.footerLinks p {
    color: #e3e4e4;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: customFontRegular;
}

.footerSubscribe {
    display: flex;
    flex-direction: column;
}

.footerSubscribe h1 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 33px;
    font-weight: 400;
    font-family: customFontRegular;
}

.footerSubscribe input {
    width: 376px;
    height: 81px;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-family: customFontRegular;
    outline: none;
    padding: 0 30px;
    background-color: #373B3E;
    margin-bottom: 20px;
}

.footerSubscribe input::placeholder {
    color: #ffffff;
    font-family: customFontLight;
}

.footerSubscribe button {
    width: 376px;
    height: 81px;
    border-radius: 7px;
    font-family: customFontRegular;
    font-size: 16px;
    background-color: #ffffff;
    cursor: pointer;
}