.formSectionWrapper{
    width: 100%;
    height: 80vh;
    /* height: 930px; */
    position: relative;
    display: flex;
}

.formSectionWrapper::before{
    content: "";
    background: url("/assets/Untitled.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.formSectionContainer{
    padding: 80px 0 0 230px;
}

.formSectionLoginForm{
    width: 664px;
    background-color: #ffffff;
    border-radius: 10px;
    border-top: 5px solid #1ABEC8;
    padding: 45px 48px 53px 48px;
}

.formSectionRegisterForm{
    width: 664px;
    background-color: #ffffff;
    border-radius: 10px;
    border-top: 5px solid #1ABEC8;
    padding: 45px 48px 40px 48px;
}

.formSectionLoginForm h1{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #212529;
    font-family: customFontMedium;
}

.formSectionRegisterForm h1{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #212529;
    font-family: customFontMedium;
}

.formSectionContainerSpan1 {
    color: #1ABEC8;
    font-size: 36px;
    font-weight: 800;
}

.formSectionFormTitlePara{
    font-size: 16px;
    margin-bottom: 24px;
    font-family: customFontMedium;
}

.formSectionFormInputContainerEmail{
    width: 100%;
    height: 81px;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
    padding: 0 20px;
}

.formSectionFormInputContainerEmail input{
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    width: 100%;
    color: #212529;
    font-family: customFontRegular;
}

.formSectionFormInputContainerEmail p{
    color: #A6A8A9;
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
    font-family: customFontRegular;
}

.formSectionFormInputContainerPassword{
    width: 100%;
    height: 81px;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 17px 0 0 0;
}

.formSectionFormInputContainerPassword div{
    width: 100%;
    height: 100%;
}

.formSectionFormInputContainerPassword input{
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    margin-top: 6px;
    width: 100%;
    color: #212529;
    font-family: customFontRegular;
}

.formSectionFormInputContainerPassword p{
    color: #A6A8A9;
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
    font-family: customFontMedium;
}

.formSectionFormInputContainerPassword img{
    cursor: pointer;
}

.formSectionContainerSpan2 {
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0;
    font-family: customFontRegular;
    letter-spacing: 0.2px;
}

.formSectionRegisterSpan {
    font-size: 16px;
    display: inline-block;
    font-family: customFontMedium;
    cursor: pointer;
    margin: 11px 0 20px 0;
    color: #7A7C7F;
}

.formSectionNewletterContainer {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
}

.formSectionNewletterContainer.active .formSectionNewletterCheckboxUnactive{
    display:  none;
}

.formSectionNewletterContainer.active .formSectionNewletterCheckbox {
    display: flex;
    /* justify-content: center; */
}

.formSectionNewletterContainer.active .formSectionNewletterCheckmark1 {
    display: block;
}

.formSectionNewletterContainer.active .formSectionNewletterCheckmark2 {
    display: block;
}

.formSectionNewletterCheckboxUnactive {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #ebebeb;
}

.formSectionNewletterCheckbox {
    display: none;
    height: 16px;
    width: 16px;
    background-color: #1ABEC8;
    border-radius: 3px;
    position: relative;
}

.formSectionNewletterCheckmark1 {
    display: none;
    transform: rotate(45deg);
    height: 10px;
    width: 4.3px;
    position: absolute;
    top: 2px;
    left: 6px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.formSectionNewletterCheckmark2 {
    display: none;
    transform: rotate(45deg);
    height: 10px;
    width: 4.3px;
    position: absolute;
    top: 2.4px;
    left: 6.4px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.formSectionNewletterContainer p {
    font-size: 16px;
    font-family: customFontMedium;
    cursor: default;
    margin-left: 5px;
}

.formSectionFormButtonsContainer {
    display: flex;
    flex-direction: column;
}

.formSectionFormButtonLogin {
    height: 64px;
    width: 100%;
    background-color: #1ABEC8;
    color: #ffffff;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: customFontMedium;
    letter-spacing: 0.2px;
}

.formSectionFormButtonGoogle {
    height: 64px;
    width: 100%;
    background-color: #ffffff;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0000008A;
    box-shadow: 0px 2px 3px 0px #0000002B;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: customFontExtraBold;
}

.formSectionFormButtonGoogle img{
    margin-right: 15px;
}

.formSectionFormRegister {
    font-size: 16px;
    font-family: customFontBold;
    letter-spacing: 0.2px;
}

.formSectionFormSpan3 {
    color: #1ABEC8;
    cursor: pointer;
}

@media screen and (min-width: 1921px) {
    .formSectionContainer {
        padding: 130px 0 0 550px;
    }

    .formSectionWrapper {
        height: 1200px;
    }
}