.DetailsWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.DetailsContainer {
    width: 75%;
    max-width: 1920px;
}

.DetailsContainer > h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 29px;
}

.DetailsContainer > p {
    font-size: 16px;
    font-weight: 500;
    color: #A6A8A9;
}

.DetailsCardsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 0 120px 0;
}

.DetailsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
}

.DetailsCard img {
    height: 230px;
}

.DetailsCard h1 {
    margin: 40px 0 16px 0;
}

.DetailsCard p {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #A6A8A9;
}

.DetailsCardLoginPara1 {
    width: 95%;
}

.DetailsCardRegisterPara1 {
    width: 84%;
}

.DetailsCardLoginPara2 {
    width: 96%;
}

.DetailsCardRegisterPara2 {
    width: 94%;
}

@media screen and (min-width: 1921px) {
    .DetailsContainer {
        width: 56.5%;
    }
}