.headerCover {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.headerWrapper{
    width: 100%;
    max-width: 1366px;
    display: flex;
    justify-content: center;
}

.headerContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px 0 150px;
}

.headerAndParaContainer{
    display: flex;
    align-items: center;
}

.headerLogo{
    margin-right: 120px;
}

.headerBurgerNav {
    width: 25px;
    display: none;
    cursor: pointer;
}

.headerBurgerNav div {
    width: 100%;
    height: 4px;
    border-radius: 12px;
    background-color: black;
}

.headerBurgerNav div:nth-child(2) {
    margin: 5px 0;
}

.headerBurgerNav div:nth-child(3) {
    width: 67%;
    float: right;
}

.headerPara{
    display: flex;
}

.headerPara p{
    margin-right: 20px;
    color: #909294;
    font-size: 10px;
    font-family: customFontBold;
    letter-spacing: 0.5px;
}

.headerContactContainer{
    display: flex;
}

.headerContactButton{
    width: 130px;
    height: 36px;
    background-color: #1ABEC8;
    border-radius: 15px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: customFontRegular;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.headerPicture{
    margin-left: 26px;
}

@media screen and (max-width: 1280px) {
    .headerContainer {
        margin: 0 70px 0 30px;
    }

    .headerLogo {
        margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {
    .headerPara {
        display: none;
    }

    .headerContactContainer {
        display: none;
    }

    .headerBurgerNav {
        display: block;
    }

    .headerAndParaContainer {
        width: 100%;
        justify-content: space-between;
    }

    .headerContainer {
        margin: 0 20px;
    }
}